@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';


:root {
    --background: hsl(180, 41%, 37%);
    --gray:hsl(220, 33%, 98%);
    --gray-border: hsl(225, 17%, 95%);
    --gray-border-transp: hsla(225, 17%, 95%, 0.8);
}

.inactive {
    display: none;
}